<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>James Fox - {{ title }}</title>
        <link rel="stylesheet" href="{{ '/css/style.css' | relative }}">
    </head>
    <body>
        <nav>
            <p>James Fox</p>
            <div>
                <a class="nav" href="{{ '/index.html' | relative }}">About</a>
                <a class="nav" href="{{ '/resume/index.html' | relative }}">Resume</a>
                <a class="nav" href="{{ '/contact/index.html' | relative }}">Contact</a>
            </div>
        </nav>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <p>Copyright 2026 James Fox</p>
        </footer>
    </body>
</html>