<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>James Fox - {{ title }}</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <nav>
            <h1>James Fox</h1>
            <a href="/">About</a>
            <a href="/resume">Resume</a>
            <a href="/contact">Contact</a>
        </nav>
        <main>
            {{ content | safe }}
        </main>
        <footer>

        </footer>
    </body>
</html>