main {
    width: 80%;
    border: solid 1px black;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
}

.right {
    text-align:right;
}
.left {
    text-align:left;
}
.row {
    display: flex;
    justify-content: space-between;
}
ul, li {
    margin: 0;
}

.subgroup {
    margin-top: 15px;
    margin-bottom: 15px;
}