/* font colors */

:root {
    --color-main: rgb(0,0,140);
    --color-back: rgb(255,255,255);
    --color-alt: rgb(0, 0, 0);
    --color-alt-hov: rgb(40, 40, 40);

    --color-text: rgb(0,0,0);
    --color-main-text: rgb(255,255,255);
    --color-text-a: rgb(37, 96, 225);
    --color-text-a-clicked: rgb(133, 62, 255);
    --color-text-a-active: rgb(184, 0, 0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-main: rgb(0, 182, 206);
        --color-back: rgb(0, 0, 0);
        --color-alt: rgb(255, 255, 255);
        --color-alt-hov: rgb(169, 169, 169);

        --color-text: rgb(255, 255, 255);
        --color-main-text: rgb(0, 0, 0);
        --color-text-a: rgb(127, 155, 246);
        --color-text-a-clicked: rgb(140, 75, 253);
        --color-text-a-active: rgb(242, 94, 94);
    }
}

a {
    color: var(--color-text-a);
}

a:visited {
    color: var(--color-text-a-clicked);
}

a:active {
    color: var(--color-text-a-active);
}

/* TEXT SIZING & coloring */

p, li, h1, h2, h3 {
    color: var(--color-text);
}

p, li {
    font-size:1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

/* HEADING & FOOTER CSS */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-back);
}

nav *, footer * {
    padding: 10px;
    color: var(--color-main-text);
    margin: 0;
}

nav p {
    font-size: 2rem;
}

nav div {
    display: flex;
}

a.nav {
    margin: 0;
    background-color: var(--color-alt);
    color: var(--color-main-text);
    text-decoration: none;
}

a:hover.nav {
    background-color:var(--color-alt-hov);
}

nav, footer {
    background-color: var(--color-main);
    width: 100%;
}

nav {
    position: sticky;
    top: 0;
}
/* allow scrolling to the bottom */
main {
    margin-bottom: 5vh;
    margin-top: 1vh;
}
footer {
    position: fixed;
    bottom: 0;
}

/* RESUME RELATED CSS */

main {
    width: auto;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

html {
    font-size: 36px;
}

@media (min-width: 768px) {
    main {
        width: 90%;
        border: solid 1px var(--color-text);
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    html {
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    main {
        width: 80%;
        border: solid 1px var(--color-text);
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    html {
        font-size: 18px;
    }
}

.right {
    text-align:initial;
    display: block;
}

.left {
    text-align: initial;
    display: block;
}
.row {
    display: block;
    justify-content: space-between;
}
.row p {
    margin: 0;
    padding: 0;
}
ul, li {
    margin: 0;
}

.subgroup {
    margin-top: 15px;
    margin-bottom: 15px;
}
@media (min-width: 768px) {
    .right {
        text-align:right;
    }
    .left {
        text-align:left;
    }
    .row {
        display: flex;
        justify-content: space-between;
    }
}

img.main {
    width: 100%;
    max-width: 600px;
    height: auto;
}