/* HEADING & FOOTER CSS */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p, h1 {
    padding: 10px;
    margin: 0;
}

nav *, footer * {
    padding: 10px;
    color:white;
}

nav div {
    display: flex;
}

nav a {
    margin: 0;
    background-color: black;
}

nav a:hover {
    background-color:grey;
}

nav, footer {
    background-color: darkblue;
    width: 100%;
}

nav {
    position: sticky;
    top: 0;
}

main {
    flex: 1;
}


/* RESUME RELATED CSS */

.resume {
    width: 80%;
    border: solid 1px black;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
}

.right {
    text-align:right;
}
.left {
    text-align:left;
}
.row {
    display: flex;
    justify-content: space-between;
}
ul, li {
    margin: 0;
}

.subgroup {
    margin-top: 15px;
    margin-bottom: 15px;
}